* {
  box-sizing:border-box;
}
html, body {
  overflow:hidden;
  height: 100%;
}
html {
  margin:0;
  padding:0;
}
body {
  margin:0;
  padding:0;
  background-color:#4592b7;
  width:100%;
  min-height:100%;
  font-family:Verdana, Tahoma, Geneva, sans-serif;
  color:#FFF;
  letter-spacing: 1.1px;
  cursor:default;
  font-size:18px;
}

a {
  color:inherit;
  text-decoration:none;
}

main {
  width:100%;
  height:100%;
}
main > content {
  width:62.5%;
  display:inline-block;
  height:100%;
  position:relative;
  z-index:10;
}
aside {
  height:100%;
  width:37.5%;
  display:inline-block;
  vertical-align:top;
  z-index:10;
  position:relative;
}

aside section {
  padding:20px;
  z-index:20;
}
aside section header {
  font-size: 1.4rem;;
  margin-bottom: 10px;
}
aside section content {
  display:none;
}
aside section:nth-child(1) {
  position:relative;
  height:62.5%;
}
aside section:nth-child(1).has-hover:hover {
  cursor:pointer;
  opacity:0.9;
}
aside section:nth-child(2) {
  height:37.5%;
  width:100%;
}




.red_bar {
  background-color:#940000;
  position:absolute;
  z-index:101;
}
.bar_bottom {
  height:20px;
  width:0px;
  bottom:0px;
  right:0px;
  z-index:1;
}

.bar_right_top {
  display:none;
  height:62.5%;
  width:20px;
  right:0px;
}
.bar_right_bottom {
  display:none;
  height:37.5%;
  width:20px;
  right:0px;
  bottom:0px;
}

.fade_to_blue {
  background:#4592b7;
  transition:background 0.5s;
}
.fade_to_light_blue {
 /* background:#FFB158;*/
  background:#6AAECF;
  transition:background 0.5s;
}
.fade_to_dark_blue {
  background:#346982;
  transition:background 0.5s;
}

.hi {
  position:relative;
  opacity:0;
  text-align:center;
  
  font-size:200px;
}

.pulser {
  display:none;
  z-index:10;
  background-color:#940000;
  width:20px;
  height:20px;
  position:absolute;
  right:0px;
  top:calc(62.5% - 20px);
}

.shitpage {
  background-color:gray;
  font-size:48px;
  color:pink;
  font-family: "Comic Sans MS", "Comic Sans", cursive;
  position:absolute;
  top:0px;
  width: 100%;
  height: 100%;
  text-align: center;
  z-index:1;
}

ul {
  list-style:none;
  padding:0;
  text-align:center;
  margin: 0 auto;
  text-align: left;
  width: 50%;
  line-height: 50px;
}

ul li img {
 vertical-align:middle; 
}
ul li:hover {
  opacity:0.8;
  cursor:pointer;
}

.bio {
  width: 75%;
  margin: 0 auto;
  height: 100%;
  padding:10%;
  padding-top: 25%;
}

.bio > p:nth-child(1) {
  font-size:1.4rem;
}

.menu_tree {
  margin-left:20px;
  line-height:30px;
  margin-top:-5px;
}
.menu_tree > div {
  cursor:pointer;
}

.menu_tree > div:hover {
  opacity:0.8;
}
.menu_tree > div .fa {

  margin-right:5px;
}
.menu_tree ul {
  width:auto;
  margin-left:40px;
  display:none;
  margin-top:5px;
  line-height:30px;
  letter-spacing:normal;
}
.menu_tree ul:nth-of-type(3) {
  font-size:0.9rem;
  line-height:20px;
}
.menu_tree ul:nth-of-type(3) li {
  font-size:0.8rem;
}
.menu_tree ul > li {
  cursor:default;
  font-size:1rem;
}
.menu_tree ul > li:hover {
  opacity:1;
}
.menu_tree ul > li .indent {
  margin-left:10px;
}

.menu_tree ul > li > div {
  font-family:Courier;
  font-size:0.8rem;
  line-height:0.8rem;
  white-space:nowrap;
  margin-left:20px;
  display:none;
  opacity:0.8;
}

.fadeIn {
  display:initial;
  transform:scale(1.01);
  opacity:0;
  transition:opacity 0.3s ease-out, transform 0.3s ease-out;
  opacity:1 !important;
  transform:scale(1);
}

.dissolve {
  transition:opacity 0.3s ease-out, transform 0.3s ease-out;
  opacity:0 !important;
  transform:scale(1.01);
}