* {
  box-sizing:border-box;
}
html, body {
  overflow:hidden;
  height: 100%;
}
html {
  margin:0;
  padding:0;
}
body {
  position:relative;
  margin:0;
  padding:0;
  background-color:#000;
  width:100%;
  height:100vh;
  font-family: 'Roboto', Verdana, Geneva, sans-serif;
  color:#FFF;
  letter-spacing: 1.1px;
  cursor:default;
  font-size:18px;
  overflow-y:scroll;
}

a {
  color:inherit;
  text-decoration:none;
}

main {
  width:100%;
  height:100vh;
  position:relative;
}

main > div {
  height:100vh;
}

canvas {
  width:100%;
  height:100%;
}

.controls {
  position:absolute;
  top:20px;
  opacity:0.9;
}

.search-and-replace-highlight {
  color:green;
}

.narration_bg {
  position:absolute;
  bottom:10px;
  width:0;
  height:50px;
  background-color:#3e3e3e;
  left:50%;
  transform:translate(-50%, -50%);
  border-radius: 15px;
  opacity: .0;
  transition: width 1s, opacity 2s;
}
.narration_bg.visible {
  width:80%;
  opacity:0.8;
}

.narration_fg {
  color:#fff;
  position:absolute;
  bottom:10px;
  width:80%;
  height:50px;
  left:50%;
  transform:translate(-50%, -50%);
  border-radius: 15px;
  padding:10px;
  padding-top:15px;
  font-size: 1.5rem;
  line-height: 1.5rem;
  vertical-align: middle;
}

.output_bg {
  position:absolute;
  border:1px solid #000;
  right:10px;
  top:10px;
  width:0;
  height:50px;
  background-color:#3e3e3e;
  border-radius: 15px;
  opacity: .0;
  transition: width 1s, opacity 2s;
}
.output_bg.visible {
  width:150px;
  opacity:0.5;
}

.output_fg {
  color:#0eff0e;
  position:absolute;
  right:10px;
  top:10px;
  width:150px;
  height:50px;
  border-radius: 15px;
  padding:10px;
  padding-top:17px;
  font-size: 1rem;
  line-height: 1rem;
  vertical-align: middle;
}

.output_fg > div:first-child {
  font-size: 0.6rem;
  margin-top: -14px;
  color: #fff;
}

.intro_bg {
  position:absolute;
  border:1px solid #000;
  top:10px;
  width:0;
  height:0;
  background-color:#3e3e3e;
  border-radius: 15px;
  opacity: .0;
  transition: width 1s, height 1s, opacity 2s;
  margin-left:-40%;
  left:50%;
}
.intro_bg.visible {
  width:80%;
  height:calc(100% - 20px);
  opacity:0.5;
}

.intro_fg {
  color:#0eff0e;
  position:absolute;
  top:10px;
  width:80%;
  height:calc(100% - 20px);
  border-radius: 15px;
  padding:10px;
  padding-top:17px;
  font-size: 1rem;
  line-height: 1rem;
  vertical-align: middle;
  margin-left:-40%;
  left:50%;
  line-height:1.5rem;
  letter-spacing:1.1px;
}

.intro_fg button {
  background: none;
  color: #0eff0e;
  border: 1px solid #b4dbb4;
  border-radius: 5px;
  font-size: inherit;
  padding: 5px 10px 5px 10px;
  opacity:0;
  transition:opacity 2s;
}
.intro_fg button.visible {
  opacity:1;
}
.intro_fg button:hover {
  cursor:pointer;
  color:#a9cea9;
}

@media only screen and (min-width: 600px) {
  main {
    min-width:1024px;
    min-height:800px;
  }
}

@media only screen and (max-width: 600px) {
  body {
    font-size:16px;
  }
  .intro_bg, .intro_fg {
    width:90% !important;
    margin-left:-45%;
  }
  .narration_fg {
    font-size:0.9rem;
    white-space:nowrap;
    width:90%;
  }
  .narration_bg {
    width:90% !important;
  }
}