<div class="project">
  <div class="visuals">
    <div class="carousel">
      <div class="item a"><a href="img/projects/clinportal1.png" target="_blank"><img src="img/projects/clinportal1.png"></a></div>
      <div class="item b"><a href="img/projects/clinportal2.png" target="_blank"><img src="img/projects/clinportal2.png"></a></div>
      <div class="item c"><a href="img/projects/clinportal3.png" target="_blank"><img src="img/projects/clinportal3.png"></a></div>
      <div class="item d"><a href="img/projects/clinportal4.png" target="_blank"><img src="img/projects/clinportal4.png"></a></div>
      <div class="item e"><a href="img/projects/clinportal5.png" target="_blank"><img src="img/projects/clinportal5.png"></a></div>
      <div class="item f"><a href="img/projects/clinportal6.png" target="_blank"><img src="img/projects/clinportal6.png"></a></div>
    </div>
    <div class="controls">
      <div class="prev"><i class="fa fa-caret-left fa-lg"></i></div>&nbsp;&nbsp;&nbsp;
      <div class="next"><i class="fa fa-caret-right fa-lg"></i></div>
    </div>
  </div>
  <div class="details">
    <div class="text">
      <div>
        <label for="name">Name&nbsp;</label>
        <span id="name">Dictum Health Clinician Portal</span>
      </div>
      <div>
        <label for="description">Description&nbsp;</label>
        <span id="description">
          <p>A medical portal to facilitate remote doctor-patient communication and record keeping.</p>
          <p>Patient vital signs are displayed in real-time and rendered in diagnostic charts. Live video calling is supported via the <a href="https://webrtc.org/" target="_blank">WebRTC platform.</a> Other features include DICOM (x-ray, CAT scan, etc) viewing, patient alert management, and visual trending of patient data.</p>
          <p>Supported (and visualized) medical tests include height/weight, temperature, ECG, blood pressure, pulse oximetry, audiogram, and spirometry.</p>
        </span>
      </div>
      <div>
        <label for="technologies">Technologies&nbsp;</label>
        <span id="technologies">JavaScript, jQuery, WebRTC, FlotCharts, Chart.js, Java</span>
      </div>
      <div>
        <label for="link">Live Link&nbsp;</label>
        <span id="link">N/A</span>
      </div>
      <div>
        <label for="source">Source&nbsp;</label>
        <span id="source">N/A</span>
      </div>
    </div>
  </div>
</div>