<div class="project">
  <div class="screenshot">
    <img src="img/projects/dictumhealth.png">
  </div>
  <div class="details">
    <div class="text">
      <div>
        <label for="name">Name&nbsp;</label>
        <span id="name">DictumHealth.com</span>
      </div>
      <div>
        <label for="description">Description&nbsp;</label>
        <span id="description">
          <p>A corporate website for a maker of medical devices and software.</p>
          <p>Standard company website with product promotion, detailed corporate information, return-on-investment calculator, job listings, and contact form.</p>
        </span>
      </div>
      <div>
        <label for="technologies">Technologies&nbsp;</label>
        <span id="technologies">jQuery, PHP5, MariaDB</span>
      </div>
      <div>
        <label for="link">Live Link&nbsp;</label>
        <span id="link"><a href="https://www.dictumhealth.com" target="_blank">https://www.dictumhealth.com</a></span>
      </div>
      <div>
        <label for="source">Source&nbsp;</label>
        <span id="source">N/A</span>
      </div>
    </div>
  </div>
</div>