.details_holder {
  margin-top:100px;
}
  

.project {
  margin-top:40px;
  opacity:0;
}

.project .details {
  text-align:center;
  margin-top:50px;
}

.project .text {
  margin:0 auto;
  text-align:left;
  white-space:nowrap;
  font-size:1rem;
}
.project .text > div {
  padding-top:10px;
}
.project .text label {
  display:inline-block;
  width:35%;
  text-align:right;
  
}
.project .text p {
  margin-top:0px;
}
.project .text a {
  color:#FFF;
  text-decoration:underline;
  
}
.project .text a:hover {
  opacity:0.8;
}
.project .text span {
  display:inline-block;
  width:65%;
  color:#efebeb;
  word-wrap:break-word;
  white-space:normal;
  vertical-align:top;
  line-height:1.4rem;
}

