<div class="project">
  <div class="screenshot">
    <img src="img/projects/questlog.png">
  </div>
  <div class="details">
    <div class="text">
      <div>
        <label for="name">Name&nbsp;</label>
        <span id="name">QuestLog</span>
      </div>
      <div>
        <label for="description">Description&nbsp;</label>
        <span id="description">
          <p>A web forum for online roleplaying game enthusiasts.</p>
          <p>This project was largely a modernization of an old website from 2002. It was previously written in PHP4 and was dependent upon synchronous page loading.</p>
          <p>I rewrote the back-end in Go, and added a RESTful API to update, edit, and delete user posts. I also added support for things like dice rolling via text input, which required heavy use of regular expression matching.</p>
          <p>It is still under development at this time.</p>
        </span>
      </div>
      <div>
        <label for="technologies">Technologies&nbsp;</label>
        <span id="technologies">jQuery, GoLANG, MariaDB, EC2 administration</span>
      </div>
      <div>
        <label for="link">Live Link&nbsp;</label>
        <span id="link"><a href="https://questlog.net" target="_blank">https://questlog.net</a></span>
      </div>
      <div>
        <label for="source">Source&nbsp;</label>
        <span id="source"><a href="https://github.com/jonathanface/questlog" target="_blank">link</a></span>
      </div>
    </div>
  </div>
</div>