<div class="project">
  <div class="screenshot">
    <img src="img/projects/socknit.png">
  </div>
  <div class="details">
    <div class="text">
      <div>
        <label for="name">Name&nbsp;</label>
        <span id="name">Socknit</span>
      </div>
      <div>
        <label for="description">Description&nbsp;</label>
        <span id="description">
          <p>A chrome browser extension and supporting website to remove public comment sections from popular news and entertainment websites.</p>
          <p>I decided to get rid of comment sections on news articles I was reading online because they annoy me. Socknit accomplishes that by maintaining a list of news websites and the corresponding html class names used to denote comment sections. When it detects the presence of both, it removes them by toggling their CSS display state, thus delivering a commentary-free news reading experience.</p>
        </span>
      </div>
      <div>
        <label for="technologies">Technologies&nbsp;</label>
        <span id="technologies">JavaScript</span>
      </div>
      <div>
        <label for="link">Live Link&nbsp;</label>
        <span id="link"><a href="https://socknit.com" target="_blank">https://socknit.com</a></span>
      </div>
      <div>
        <label for="source">Source&nbsp;</label>
        <span id="source"><a href="https://github.com/jonathanface/socknit" target="_blank">link</a></span>
      </div>
    </div>
  </div>
</div>