<div class="project">
  <div class="details">
    <div class="text">
      <div>
        <label for="name">Name&nbsp;</label>
        <span id="name">Dictum Health Clinician Portal</span>
      </div>
      <div>
        <label for="description">Description&nbsp;</label>
        <span id="description">
          <p>A medical portal to facilitate remote doctor-patient communication and record keeping.</p>
          <p>Patient vital signs are displayed in real-time and rendered in diagnostic charts. Live video calling is supported via the <a href="https://webrtc.org/" target="_blank">WebRTC platform.</a> Other features include DICOM (x-ray, CAT scan, etc) viewing, patient alert management, and visual trending of patient data.</p>
          <p>Supported (and visualized) medical tests include height/weight, temperature, ECG, blood pressure, pulse oximetry, audiogram, and spirometry.</p>
        </span>
      </div>
      <div>
        <label for="technologies">Technologies&nbsp;</label>
        <span id="technologies">JavaScript, jQuery, WebRTC, FlotCharts, Chart.js, Java</span>
      </div>
      <div>
        <label for="link">Live Link&nbsp;</label>
        <span id="link">N/A</span>
      </div>
      <div>
        <label for="source">Source&nbsp;</label>
        <span id="source">N/A</span>
      </div>
    </div>
  </div>
</div>