<div class="project">
  <div class="details">
    <div class="text">
      <div>
        <label for="name">Name&nbsp;</label>
        <span id="name">1Point2.fish</span>
      </div>
      <div>
        <label for="description">Description&nbsp;</label>
        <span id="description">
          <p>A web app to check for new releases of various software packages.</p>
          <p>1Point2.fish maintains a list of popular software (mostly web development related) and performs a nightly check on their download pages to see if a new version is available. If it is, the app sends notification emails to whomever has subscribed to monitor that particular package.</p>
        </span>
      </div>
      <div>
        <label for="technologies">Technologies&nbsp;</label>
        <span id="technologies">jQuery, PHP5, MariaDB, EC2 administration, CRONTab, cURL</span>
      </div>
      <div>
        <label for="link">Live Link&nbsp;</label>
        <span id="link"><a href="https://1point2.fish" target="_blank">https://1point2.fish</a></span>
      </div>
      <div>
        <label for="source">Source&nbsp;</label>
        <span id="source"><a href="https://github.com/jonathanface/1point2fish" target="_blank">link</a></span>
      </div>
    </div>
  </div>
</div>